body {
    min-height: 100vh;
}

.frame > * {
    width: 80%;
}

.frame {
    padding: 3px;
    height: 85vh;
    background-color: lightgray;
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-container > img {
    width: 50%;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#userInfoForm > div > input:valid {
    border: 1px solid #28a745;
}

#userInfoForm > div > input:invalid {
    border: 1px solid red;
}

.form-control {
    height: 38px;
}

#jokeContainer {
    max-height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f8f9fa;
}

header {
    background-color: coral;
}

.publication {
    position: relative;
    margin-bottom: 15px;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}
.publication:hover {
    background-color: rgb(246, 171, 144);
}
.like-button,
.delete-button {
    display: none;
    position: absolute;
    border: none;
    border-radius: 5px;
}

.like-button {
    bottom: 10px;
    right: 40px;
    background-color: #dc3545;
    color: white;
}

.delete-button {
    bottom: 10px;
    right: 10px;
    background-color: #ea4545;
    color: white;
}

.publication:hover .like-button,
.publication:hover .delete-button {
    display: block;
}
.like-button:hover {
    background-color: #28a745;
}
.delete-button:hover {
    background-color: #e30000;
}

.like-button.liked {
    background-color: #0c7d27;
}

.like-button.unliked {
    background-color: #dc3545;
}
.publication.liked {
    border: 1px solid #28a745;
}
